.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.ant-card-body {
  padding: 3em 0 0 0;
}

.ant-form-item-label > label {
  color: #fff;
}

.ant-card-head-title {
  color: white;
}

.findOutButtonRow {
  margin: 1em 0;
  justify-content: center;
}

.findOutButton {
  background-color: #2b2f77;
  border-color: #2b2f77;
  color: white;
}
